---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Astro x htmx">
	<main>
    <ul
      class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-2"
      hx-get={`/partials/products/list-cards`}
      hx-trigger="load"
      id="product-list"
    >
  </ul>
  </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
